@use "../variables/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  animation-timeline: scroll();
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: variables.$white-color;
  min-height: 100vh;
  overflow-x: hidden;
}