@use "../variables/variables.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  animation-timeline: scroll();
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: variables.$gradient-hero;
  min-height: 100vh;
  overflow-x: hidden; // S'assurer qu'il n'y a pas de scroll horizontal non désiré
}
