@use "../../styles/variables/variables.scss";

//version mobile
.hero-container {
  height: 100vh;
  display: flex;
  font-family: "Fira Code";
  margin-bottom: 5rem;
  &__leftside {
    width: 35%;
    background-color: variables.$color-forest-light;
    height: 100vh;
  }
  &__vertical {
    writing-mode: sideways-rl;
    text-orientation: upright;
    padding-top: 1.8rem;
    font-size: 25px;
    text-transform: uppercase;
    color: variables.$color-canaille;
    font-weight: 500;
    letter-spacing: 10px;
  }
  &__dev {
    color: variables.$color-forest-dark;
    font-weight: bold;
  }
  &__rightside {
    height: 100vh;
    background-color: variables.$white-color;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    width: 65%;
  }
  &__avatar {
    position: absolute;
    top: 40;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: flex-end;

  }
  &__img {
    position: relative;
    z-index: 10;
    border-bottom: variables.$color-canaille 2px double;
  }

  &__title {
    padding-top: 22rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 25px;
    color: variables.$color-forest;
    font-weight: 500;
  }
  &__subtitle {
    margin-bottom: 1rem;
    margin-left: 1rem;
    font-size: 20px;
    color: variables.$color-forest;
  }
  &__reseaux {
    display: flex;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-left: 1rem;
  }
  &__a {
    text-decoration: none;
    cursor: pointer;
  }
  &__btnreseaux1 {
    padding: 0.65rem 1.5rem 0.65rem 1.5rem;
    border: solid 2.5px variables.$color-forest-dark;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: variables.$color-forest-dark;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  &__btnreseaux2 {
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: variables.$white-color;
    font-weight: 500;
    background-color: variables.$color-canaille;
  }

  &__nbrprojet {
    font-size: 18px;
    text-align: right;
    margin-right: 1rem;
    color: variables.$color-forest-dark;
    font-family: "Fira Code";
    padding-bottom: 5rem;
  }
  &__span {
    font-size: 25px;
    color: variables.$color-forest-dark;
  }
  &__EOT {
    font-style: italic;
    color: variables.$color-forest-dark;
    font-weight: 400;
    margin-left: 0.5rem;
  }
}

// Tablette
@media screen and (min-width: variables.$tablet) {
  .hero-container {
    &__avatar {
      bottom: 0;
      left: 250;
    }
    &__img {
      height: 550px;
      width: 400px;
    }
    &__title,
    &__subtitle,
    &__EOT{
      text-align: right;
      margin-right: 1rem;
    }
    &__reseaux{
      display: flex;
      justify-content: right;
      margin-right: 1rem;
      gap: 0.5rem;
    }
    &__EOT{
      margin-right: 3rem;
    }
    
  }
}

// Laptop
@media screen and (min-width: variables.$laptop) {
  .hero-container {
    &__img {
      height: 550px;
      width: 415px;
    }
  }
}

// Desktop
@media screen and (min-width: variables.$desktop) {
  .hero-container {
    &__img {
      height: 600px;
      width: 450px;
      margin-left: 47.5rem;
    }
    &__vertical{
      margin-left: 2rem;
      margin-top: 2rem;
      font-size: 40px;
    }
    &__title{
      text-align: right;
      
    }
    &__EOT{
      padding-top: 12rem;
      padding-bottom: -1rem;
      text-align: right;
    }
  }
}
