@use "../../styles/variables/variables.scss";

.container-skills {
  background-color: variables.$color-forest-extralight;
}
.skills-h2 {
  font-size: 24px;
  font-family: 'Fira Code';
  font-weight: 500;
  text-transform: uppercase;
  color: variables.$color-forest-dark;
  animation: fadeUp both;
  animation-timeline: view();
  align-self: flex-start;
  margin-top: 3rem;
  margin-left: -2rem;
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(10px) scale(0);
  }
  to {
    opacity: 1;
    transform: translateY((0) scale(1));
  }
}
.skills-h3 {
  font-size: 22px;
  font-family: 'Fira Code';
  font-weight: 500;
  text-transform: uppercase;
  opacity: 0.5;
  color: variables.$color-forest-light;
  rotate: (180deg);
  animation: fadeUp both;
  animation-timeline: view();
  align-self: flex-end;
  margin-right: 8rem;
    margin-top: -2rem;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: variables.$color-forest-extralight;
  padding-bottom: 2rem;

  &__id {
    border: variables.$color-canaille dashed 1px;
    background-color: variables.$white-color;
    border-radius: 20px;
    width: 280px;
    height: 50px;
    padding: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    animation: autoBlurAnimation ease-out both;
    animation-timeline: view();
    animation-range: entry 15% cover 70%;
    will-change: filter;
    
  }
  &__titre {
    color: variables.$color-forest;
    font-family: "Fira Code";
    font-weight: 500;
  }
}

@keyframes autoBlurAnimation {
  0% {
    filter: blur(12px);
  }
  100% {
    filter: blur(0px);
  }
}

@media screen and (min-width:variables.$tablet) and (max-width:variables.$laptop) {
  .skills-container{
    &__id{
      height: 80px;
      width: 400px;
    }
  }
}

@media (min-width: variables.$desktop){
    .skills-h2{
        font-size: 35px;
        margin-left: -5rem;
    }
    .skills-h3{
        margin-right: 75rem;
        font-size: 32px;
        margin-top: -2.8rem;
        margin-bottom: 5rem;

    }
    .skills-container{
       display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          padding-bottom: 8rem;
          margin-bottom: 3rem;
        &__id{
            width: 450px;
            height: 120px;
    
        }
    }
}
