@use '../../styles/variables/variables.scss';
@use '../../styles/mixins/mixins.scss';

.container-canailleDev{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding-bottom: 2rem;
    margin-bottom: 3rem;
    border-bottom: 1.5mm ridge variables.$color-canaille;
    background-image: url(/canigou.jpg);
    background-repeat: no-repeat;
    background-position: right 45% bottom 55%;
    
  &__link{
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
&__logo{
    display: block;
    margin-left: 5rem;
    margin-top: 3rem;    
}
&__h2{
    margin-top: 4rem;
    font-size: 2rem;
    color: variables.$white-color;
    font-family: 'Outfit';
    font-weight: 500;
}
&__span{
  color: variables.$color-canaille;
}
}




