@use "../../styles/variables/variables.scss";
@use "../../styles/mixins/mixins.scss";

.container-canailleDev {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding-bottom: 0;
  margin-bottom: 0;
  position: relative;
  &__link {
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }
  &__logo {
    display: block;
    margin-left: 1rem;
    margin-top: 2rem;
    height: 50px;
    width: 50px;
    position: relative;
    z-index: 3102;
  }
  &__h2 {
    padding-top: 2.2rem;
    font-size: 1rem;
    color: variables.$color-forest;
    font-weight: 700;
  }
  &__span {
    color: variables.$color-forest-dark;
    text-transform: uppercase;
    font-weight: 500;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .container-canailleDev {
    display: flex;
    background-position: right 25% bottom 50%;
    &__logo {
      margin-left: 2rem;
    }
  }
}

@media (min-width: variables.$laptop) {
  .container-canailleDev {
    /* Assure que l'image couvre toute la largeur en desktop */
    background-size: cover;
    /* Conserve la position par défaut, ajustable si besoin */
    background-position: right 45% bottom 48%;
    width: 100%;
  }
}

@media (min-width: variables.$desktop) {
  .container-canailleDev {
    /* Assure que l'image couvre toute la largeur en desktop */
    background-size: cover;
    /* Conserve la position par défaut, ajustable si besoin */
    background-position: right 45% bottom 55%;
    width: 100%;
  }
}
