@use "../styles/variables/variables.scss";
@use "../styles/mixins/mixins.scss";

.error-page-wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.container-error {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  &__img {
    margin-left: 6rem;
    width: 400px;
  }
  &__link {
    display: flex;
    justify-content: center;
    text-decoration: none;
  }
  &__btn {
    margin-top: 0;
    margin-bottom: 2rem;
    display: block;
    padding: 0.7rem 1.5rem;
    background: variables.$color-forest-extralight;
    color: variables.$color-forest;
    font-family: "Fira Code";
    border: variables.$color-forest 1px dashed;
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media screen and (min-width: variables.$tablet) and (max-width: variables.$laptop) {
  .container-error {
    &__btn {
      margin-top: 2rem;
    }
  }
}
