@use '../../styles/variables/variables.scss';
@use "../../styles/mixins/mixins.scss";

.container-prestations{
  background-color: #e7dbb7;
  margin-top: 10rem;
  margin-bottom: -15rem;
  &__h2{
    @include mixins.h2;
  }
  &__underline{
    @include mixins.underline;
  }
}



// Wrapper pour le Swiper
.swiper-wrapper-custom {
  width: 100%;
  padding: 2rem 3rem;
  margin: 3rem auto;
}

// Personnalisation du Swiper
.prestations-swiper {
  padding-bottom: 3rem;

  // Boutons de navigation
  .swiper-button-next,
  .swiper-button-prev {
    background-color: variables.$color-forest-light;
    color: variables.$white-color;
    width: 25px;
    height: 25px;
    border-radius: 20%;

    &::after {
      font-size: 1.5rem;
      font-weight: bold;
    }

    &:hover {
      background-color: variables.$color-forest-dark;
    }
  }

  // Pagination
  .swiper-pagination-bullet {
    background-color: variables.$color-forest-light;
    opacity: 0.5;
    width: 12px;
    height: 12px;

    &-active {
      background-color: variables.$color-forest-dark;
      opacity: 1;
    }
  }
}

// Carte de projet
.prestations-container__id {
  border: solid 1.5px variables.$color-bg-light;
  box-shadow: 1px 1px 2px variables.$color-bg-light;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-right: 3.5rem;
  margin-left: 3.5rem;
  justify-content: center;
  align-items: center;
  background-color:variables.$white-color;
  color: variables.$color-forest-dark;
  height: 100%;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: 2px 4px 8px variables.$color-forest-light;
  }
 
}
.prestations-container__icon{
    color: variables.$color-forest-extralight;
}



.prestations-container__icon {
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  border-radius: 10px;
}

.prestations-container__sujet {
  margin-top: 0.5rem;
  text-align: center;
  font-weight: 500;
  font-size: 22px;
}

@media screen and (min-width:variables.$tablet) and (max-width:variables.$laptop){
  .prestations-container__id{
    margin-right: auto;
    margin-left: auto;
    width: 500px;
    display: block;
  }
  .prestations-container__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .prestations-h2{
    margin-left: 12rem;
  }
  .prestations-h3{
        margin-right: 32rem;

  }

}

@media (min-width: variables.$desktop) {
  .prestations-h2 {
    font-size: 35px;
    margin-left: 3rem;
    padding-top: 5rem;
  }
  .prestations-h3 {
    margin-right: 95rem;
    font-size: 32px;
    margin-top: -2.8rem;
    margin-bottom: 5rem;
  }
  .prestations-container__id{
    width: 500px;
    height: 400px;
    margin-left: 20rem;
    margin-bottom: 5rem;
  }
}