@use "../../../styles/variables/variables.scss";
@use "../../../styles/mixins/mixins.scss";

.header-container {
  margin: 0;
  padding: 0;
}

.container-logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.1rem;
  margin-left: 1rem;
  margin-bottom: 3.5rem;
  &__canailledev {
    color: variables.$white-color;
    font-family: "Outfit";
    font-weight: 500;
    letter-spacing: -0.75px;
    font-size: 1.2rem;
    margin-top: 2rem;
  }
  &__span {
    font-size: 1.2rem;
    color: variables.$color-canaille;
  }
  &__img {
    cursor: pointer;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }
}

.menu-desktop {
  display: none;
}

@media screen and (min-width: variables.$tablet) and (max-width: variables.$laptop) {
  .container-logo{
    &__img{
      margin-left: 1.5rem;
    }
  }
}

@media screen and (min-width: variables.$laptop) and (max-width: 1439px) {
  .container-logo {
    margin-left: 3rem;
    margin-bottom: 3rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    padding: 0 2rem;
    gap: 1rem;

    &__img {
      width: 50px;
      height: 50px;
      margin-top: 1rem;
      grid-column: 1;
      margin-left: 0.2rem;
    }
    &__canailledev {
      font-size: 1.5rem;
      margin-top: 2.2rem;
      grid-column: 2;
      justify-self: start;
    }
    &__span {
      font-size: 1.5rem;
    }
  }
  .menu-desktop {
    display: flex;
    align-items: center;
    margin-top: 1rem;
    grid-column: 3;
    justify-self: end;
    margin-right: 3rem;

    &__ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &__link {
      color: variables.$color-canaille;
      font-size: 1.5rem;
      text-decoration: none;
      font-family: "Outfit";
      font-weight: 400;
      text-shadow: variables.$color-bg 0.5px 0.5px 0.5px;
    }
    &__link:hover {
      color: variables.$white-color;
      transition: 0.2s ease;
      text-decoration: underline;
      opacity: 0.7;
    }
  }
}

@media (min-width: variables.$desktop) {
  .header-container {
    width: 100%;
  }

  .container-logo {
    margin-bottom: 3rem;
    margin-left: 3rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
    width: 100%;
    padding: 0 3rem;
    gap: 1rem;

    &__img {
      width: 55px;
      height: 55px;
      margin-top: 1rem;
      grid-column: 1;
      margin-left: -0.5rem;
    }
    &__canailledev {
      margin-top: 2.2rem;
      font-size: 2rem;
      grid-column: 2;
      justify-self: start;
    }
    &__span {
      font-size: 2rem;
    }
  }
  .menu-desktop {
    display: flex;
    align-items: center;
    margin-top: 0.5rem;
    grid-column: 3;
    justify-self: end;
    margin-right: 5.5rem;

    &__ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    &__link {
      color: variables.$color-canaille;
      font-size: 2rem;
      text-decoration: none;
      font-family: "Outfit";
      font-weight: 400;
      text-shadow: variables.$color-bg 0.5px 0.5px 0.5px;
    }
    &__link:hover {
      color: variables.$white-color;
      transition: 0.2s ease;
      text-decoration: underline;
      opacity: 0.7;
    }
  }
}
