@use "../../styles/variables/variables.scss";
@use "../../styles/mixins/mixins.scss";

.container-skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;

  &__h2 {
    @include mixins.h2;
  }
  &__underline {
    @include mixins.underline;
  }
  &__grid {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }
  &__article {
    height: 300px;
    width: 300px;
    margin-top: 1.5rem;
    border: 1.5mm ridge variables.$color-parchemin;
    border-radius: 20px;
    animation: fadeUp both;
    animation-timeline: view();
    background: linear-gradient(
      135deg,
      #f3e6c2 0%,
      #ead7a5 40%,
      #e2c98a 70%,
      #d8b874 100%
    );
    box-shadow: inset 0 0 40px rgba(255, 255, 255, 0.2),
      inset 0 0 60px rgba(120, 90, 40, 0.35), 0 18px 40px rgba(0, 0, 0, 0.35);
    color: variables.$color-terre;
  }
  .container-skills::before {
    content: "";
    content: "";
    position: absolute;
    inset: 0;

    background: repeating-linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.025),
        rgba(0, 0, 0, 0.025) 1px,
        transparent 1px,
        transparent 3px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.02),
        rgba(255, 255, 255, 0.02) 1px,
        transparent 1px,
        transparent 4px
      );

    opacity: 0.45;
    pointer-events: none;
  }

  .container-skills::after {
    content: "";
    position: absolute;
    inset: 0;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    box-shadow: inset 0 0 80px rgba(90, 60, 20, 0.4),
      inset 0 0 20px rgba(0, 0, 0, 0.25);

    pointer-events: none;
  }

  @keyframes fadeUp {
    from {
      opacity: 0;
      transform: translateY(10px) scale(0.5);
    }
    to {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  &__category {
    color: variables.$color-terre;
    letter-spacing: 8px;
    font-size: 28px;
    font-family: "Outfit";
    text-align: center;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }
  &__item {
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-bottom: 0.8rem;
  }
  &__outil {
    margin: 0; /* IMPORTANT */
    padding: 0;
    line-height: 1; /* clé pour alignement parfait */
    color: variables.$color-terre;
    font-size: 22px;
    font-family: "Outfit";
    font-weight: 400;
  }

  &__logo {
    width: 30px;
    height: 30px;
    object-fit: contain;
    flex-shrink: 0; //empeche le logo de se réduire
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
  .container-skills{
    &__grid{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
    &__h2{
      margin-top: 8rem;
    }

  }
}

@media screen and (min-width:variables.$laptop) and (max-width:1439px){
  .container-skills{
    &__h2{
      margin-top: 8rem;
    }
    &__grid {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }
}


@media (min-width: variables.$desktop) {
  .container-skills {
    &__h2 {
      margin-top: 10rem;
      font-size: 40px;
    }
    &__underline {
      margin-bottom: 5rem;
    }
    &__grid {
      display: flex;
      flex-direction: row;
      gap: 5rem;
    }
    &__article {
      height: 300px;
      width: 350px;
    }
    &__item {
      gap: 1.5rem;
    }
    &__logo {
      margin-right: 1rem;
    }
    &__outil {
      font-size: 25px;
    }
  }
}
