@use '../styles/variables/variables.scss';
@use '../styles/mixins/mixins.scss';

.container-mentions{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    &__h2{
        @include mixins.h2
    }
    &__underline{
        @include mixins.underline;
        margin-bottom: 2.5rem;
    }
    &__adress{
        color: variables.$color-canaille;
    }
}

.container-mentions h1{
    font-size: 3rem;
}

.container-mentions p{
    color: variables.$color-bg-light;
    font-family: 'Outfit';
    margin-bottom: 2rem;
}

.container-mentions strong{
    text-shadow: variables.$color-bg-dark 1px 1px 3px;
    color: variables.$color-canaille;
}

.container-mentions ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.container-mentions li{
    list-style-type: none;
    color: variables.$white-color;
    font-family: 'Outfit';
}

@media (min-width: variables.$desktop) {
    
    .container-mentions{
        &__underline{
            margin-bottom: 5rem;
        }
    }.container-mentions p{
    font-size: 22px;
        margin-left: 10rem;
}
}