@use "../../styles/variables/variables.scss";
@use "../../styles/mixins/mixins.scss";


.container-apropos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
  background: linear-gradient(135deg, #c3ad8f 80%, #a49479 100%);
  width: 380px;
  height: 235px;
  border-radius: 20px;
  opacity: 0.85;
 
    &__h2{
      text-align: center;
      font-family: 'Outfit';
      font-weight: 500;
      margin-bottom: 0.2rem;
      color: variables.$color-forest-dark;
    }
    &__p{
      text-align: justify;
      margin-right: 1rem;
      margin-left: 1rem;
      color: variables.$color-mountain;
      font-family: 'Outfit';
      font-size: 14.5px;
    }
}



@media (min-width: variables.$desktop){
    .container-apropos{
      margin: 3rem;
    &__h2{
      font-size: 40px;
    }
    &__underline{
      margin-bottom: 5rem;
    }
    &__texte{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    &__p{
      text-align: center;
      font-size: 25px;
    }
    
    }
}