/* Variables couleurs */

$violet-color: #0b0024;
$violet1-color: #3d0f65;
$violet2-color: #2a1478;
$violet3-color: #a855f7;
$violet4-color: #cabdff;
$violet5-color: #6a5bff;
$violet6-color: #1e0a3c;
$violet7-color: #19016b;
$blue-color: #3a61ff;
$orange-color: #ff9671;
$pink-color: #d93b7d;
$pink1-color: #ff6d92;
$white-color: #f1f2ec;
$halo-blue: #1622BB;
$halo-pink: #ff6d92;
$halo-violet: #68199A;

/*Breakpoint*/

$mobile-v: 390px;
$mobile-h: 768px;
$tablet-v: 834px;
$tablet-h: 1024px;
$desktop: 1440px;
