@use '../../styles/variables/variables.scss';
@use '../../styles/mixins/mixins.scss';

.container-projets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    
    &__h2{
        @include mixins.h2;
    }
    &__underline{
        @include mixins.underline;
    }
    &__grid{
        margin: 2rem;
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin-left: auto;
        margin-right: auto;
    }
    &__article{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 1rem;
        flex-direction: column;
        height: 360px;
        width: 300px;
        border: 1.5mm ridge variables.$color-canaille;
        border-radius: 20px;
        animation: fadeUp both;
        animation-timeline: view();
        
    }

    @keyframes fadeUp {
        from{
            opacity: 0;
            transform: translateY(10px) scale(0.5);
        }
        to{
            opacity: 1;
            transform: translateY(0) scale(1);
        }
        
    }
    
    &__article:hover{
        cursor: pointer;
    }
    &__img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5rem;
        border-radius: 10px;
    }
    &__link{
        text-decoration: none;
        display: block;
        transition: transorm 0.3s ease;

        &:hover{
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    &__h4{
        text-align: center;
        font-size: 20px;
        font-family: 'Outfit';
        color: variables.$white-color;
        font-weight: 400;
        text-shadow: 1px 1px 3px variables.$color-canaille;

    }
    &__privacy{
        text-align: center;
        font-family: 'Outfit';
        padding: 0.5rem;
        background-color: variables.$color-canaille;
        border: solid 1px variables.$white-color;
        border-radius: 10px;
        color: variables.$white-color;
        font-weight: 300;
        margin-bottom: 1.5rem;
    }
}
@keyframes text-appear {
  from{
    opacity: 0;
    transform:translateY(100px) ;
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
  
}



.container-projets__article:nth-child(1){
    animation-range: entry 20% cover 40%;
}

@media (min-width: variables.$desktop){
    .container-projets{
        &__h2{
            font-size: 40px;
        }
        &__underline{
            margin-bottom: 5rem;
        }
        &__grid{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        &__article{
            height: 250px;
            width: 350px;
        }
    }
}