@use '../styles/variables/variables.scss';
@use '../styles/mixins/mixins.scss';

.container-confidentialite{
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
     &__underline{
        @include mixins.underline;
        margin-bottom: 2.5rem;
    }
     &__h2{
        @include mixins.h2
    }
    &__adress{
        color: variables.$color-canaille;
    }
}

.container-confidentialite h1{
    font-size: 3rem;
}

.container-confidentialite p{
    color: variables.$color-bg-light;
    font-family: 'Outfit';
    margin-bottom: 2rem;
}

.container-confidentialite strong{
    text-shadow: variables.$color-canaille 1px 1px 3px;
    color: variables.$white-color;
}

.container-confidentialite ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem;
}

.container-confidentialite li{
    list-style-type: none;
    color: variables.$white-color;
    font-family: 'Outfit';
}

@media(min-width:variables.$desktop) {
    .container-confidentialite{
        &__underline{
            margin-bottom: 5rem;
        }
    }
    
    .container-confidentialite p{
    font-size: 22px;
    margin-left: 10rem;
}
.container-confidentialite ul{
        text-align: left;
        margin-bottom: 5rem;
    
}

.container-confidentialite li{
    font-size: 22px;

}
}