@use '../../styles/variables/variables.scss';
@use '../../styles/mixins/mixins.scss';

.container-contact{
    margin-top: 8rem;
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    border-radius: 30px;
    animation: fadeUp both;
        animation-timeline: view();
    &__h2{
        @include mixins.h2;
    }
    &__underline{
        @include mixins.underline;
    }  
    &__form{
        height: 25rem;
        width: 380px;
        display: flex;
        flex-direction: column;
    }
    &__label,
    &__email{
        color: variables.$violet4-color;
        font-family: 'Outfit';
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 0.3rem;
    }
    &__input{
        margin-bottom: 1rem;
        font-size: 20px;
        height: 40px;
        font-family: 'Outfit';
        border-radius: 15px;
        border: 1.5mm ridge variables.$color-canaille;
        border-radius: 20px;    }

    &__section{
        display:flex;
        flex-direction: column;
    }
    &__messageview{
        margin-top: 0.1rem;
        border: solid 2px pink;
        width: 376px;
        font-family: 'Outfit';
        border-radius: 15px;
        font-size: 20px;
        height: 150px;
        border: 1.5mm ridge variables.$color-canaille;
        border-radius: 20px;
    }
    &__envoyer{
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 0.8rem;
        margin-top: 1rem;
        border-radius: 1rem;
        color: variables.$color-forest-dark;
        font-family: "Outfit";
        font-weight: bold;
        font-size: 1.2rem;
        background: variables.$color-canaille;
        opacity: 1;
        border: none;
    }
    &__status{
        color: variables.$white-color;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        font-family: 'Outfit';
    }
}

@keyframes fadeUp {
        from{
            opacity: 0;
            transform: translateY(10px) scale(0.5);
        }
        to{
            opacity: 1;
            transform: translateY(0) scale(1);
        }
        
    }

@media(min-width: variables.$desktop){
    .container-contact{
        &__h2{
            font-size: 40px;
        }
        &__underline{
            margin-bottom: 5rem;
        }
        &__form{
            width: 600px;
        }
        &__input{
            height: 60px;
            width: 600px;
        }
        &__messageview{
            width: 600px;
        }
        &__envoyer{
            height: 65px;
            width: 150px;
            font-size: 20px;
        }
    }
}