 @use "../../../styles/variables/variables.scss";
 @use "../../../styles/mixins/mixins.scss";


.hero-background {
  position: relative;
  max-height: 200vh;
  background-image: url("/canigou1.webp");
  background-size: cover;
  background-position: 57% center;
  background-attachment: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}


