.hero-background {
  position: relative;
  max-height: 100vh;
  background-image: url("/canigou.webp");
  background-size: cover;
  background-position: 57% center;
  background-attachment: fixed;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}
